/* styles/UserForm.css */
.create-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.create-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #28a745;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  padding: 10px;
  border-radius: 5px;
  border-color: #000000;
  background-color: #ffffff;
  color: #000000;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0097a7;
}

.message-text {
  text-align: center;
  margin-top: 10px;
  color: lightgreen;
}
