
.user-list-page {
  background-color: #def4f1; /* Beige background */
  min-height: 100vh;
  padding: 2rem;
}

.user-list-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.user-error-message {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}

.user-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

.user-card {
  background-color: #9a8f8f;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  width: 300px;
}

.user-card p {
  margin: 0.5rem 0;
  font-size: 1rem;
}
